body {
  background-image: url("../public/main-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Abandoned', sans-serif;
}

h1 {
  color: pink;
  font-weight: bold;
}

.maincard-container {
  display: flex;
  justify-content: center; /* Center the main card content */
}

.maincard {
  font-size: 1.4em;
  width: 50%;
  padding: 2em;
  color: #F0E991;
  border-radius: 5em;
}

.about-container,
.experience-container,
.projects-container {
  text-align: center;
}

.about,
.experience,
.projects {
  padding: 1.5em;
  color: #F0E991;
  font-size: 1.5em;
  padding: 6%;
  font-weight: bold;
  word-spacing: 0.52em;
  line-height: 110%;

}

.experience-container {
  text-align: center;
}

.experiance {
  padding: 1.5em;
  color: #F0E991;
  font-size: 1.5em;
  padding: 6%;
  font-weight: bold;
  word-spacing: 0.52em;
  line-height: 110%;
  
}

.projects {
  padding: 1.5em;
  color: #F0E991;
  font-size: 1.5em;
  padding: 6%;
  font-weight: bold;
  word-spacing: 0.52em;
  line-height: 110%;
}

.navigator {
  padding-top: 2.5em;
}

.navigator a {
  font-size: 2em;
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  text-decoration: underline;
  animation: moveLink 2s infinite alternate ease-in-out;
}

@keyframes moveLink {
  to {
    transform: translateY(12px);
  }
}

.navigator a:hover {
  color: grey;
  animation: none;
}


.empty-space {
  height: 8em; /* Adjust the height as needed */
}
